[workspace]
authors = ["d-laub <dlaub@ucsd.edu>"]
channels = ["nvidia", "conda-forge", "pytorch", "bioconda"]
description = "Benchmarks and figures for the GenVarLoader paper."
name = "gvl-paper"
platforms = ["linux-64"]
version = "0.2.0"

[environments]
default = ["bench"]
basenji2 = ["basenji2"]

[feature.bench.dependencies]
python = "3.12.*"
ipykernel = "*"
ipywidgets = "*"

[feature.bench.pypi-dependencies]
torch = { version = "==2.10.0", index = "https://download.pytorch.org/whl/cu126" }
pytorch-lightning = ">=2.4.0,<3"
numpy = "<2"
tqdm = ">=4.67.1,<5"
polars = ">=1.37.1,<2"
typing-extensions = ">=4.14,<5"
einops = ">=0.8.0,<0.9"
jupyterlab = ">=4.3.3,<5"
genvarloader = ">=0.20,<0.21"
genoray = ">=2.1.3,<3"
bpnet-lite = ">=0.8.1,<0.9"
seqmodels = "==0.0.3"
cyclopts = ">=4.5.1, <5"
seaborn = "*"
rich = "*"
matplotlib = "*"
statsmodels = ">=0.14.6, <0.15"

[feature.bench.tasks]
i-kernel = "ipython kernel install --user --name gvl-paper-bench"

[feature.basenji2.dependencies]
python = "3.12.*"

[feature.basenji2.pypi-dependencies]
torch = { version = "==2.6.0", index = "https://download.pytorch.org/whl/cu126" }
seaborn = "*"
anndata = "*"
polars = "*"
ipykernel = "*"
ipywidgets = "*"
uv = "*"
mpl-scatter-density = "*"
astropy = "*"
upsetplot = "*"
pysam = "!=0.23.1"
basenji2-pytorch = "==0.1.2"
genvarloader = "==0.20.0"

[feature.basenji2.system-requirements]
cuda = "12.2"

[feature.basenji2.tasks]
i-kernel = "ipython kernel install --user --name gvl-basenji2"
