params {
    dataset = '1KGP'

    svar  = '/carter/users/dlaub/data/1kGP/1kGP.snp_indel.split_multiallelics.svar'
    // Built by Task 5; not present yet -- this is the agreed contract path
    // between the two tasks.
    svar2 = '/carter/users/dlaub/data/1kGP/1kGP.snp_indel.split_multiallelics.svar2'
    bcf   = '/carter/users/dlaub/data/1kGP/1kGP.snp_indel.split_multiallelics.bcf'
    pgen  = '/carter/users/dlaub/data/1kGP/1kGP.snp_indel.split_multiallelics.pgen'
    fai   = '/carter/users/dlaub/data/1kGP/GRCh38_full_analysis_set_plus_decoy_hla.fa.fai'
}
