params {
    dataset = '1KGP'

    svar  = '/carter/users/dlaub/data/1kGP/1kGP.snp_indel.split_multiallelics.svar'
    bcf   = '/carter/users/dlaub/data/1kGP/1kGP.snp_indel.split_multiallelics.bcf'
    pgen  = '/carter/users/dlaub/data/1kGP/1kGP.snp_indel.split_multiallelics.pgen'
    fai   = '/carter/users/dlaub/data/1kGP/GRCh38_full_analysis_set_plus_decoy_hla.fa.fai'
}
